{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	{% for blog in blogs %}
	   <article class="blog">
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('blogger_blog_blog_show', { 'slug': blog.slug }) }}">{{ blog.title }}</a></h2>
            </header>

            {% if blog.image != '' %}<img src="{{ asset(['uploads/documents/', blog.image]|join) }}" />{% endif %}
            <div class="snippet">
                <p>{{ blog.content(500) }}</p>
                <p class="continue"><a href="{{ path('blogger_blog_blog_show', { 'slug': blog.slug }) }}">Continue reading...</a> | <a href="{{ path('blogger_blog_blog_update', { 'id': blog.id }) }}">Update</a> | <a href="{{ path('blogger_blog_blog_delete', { 'id': blog.id }) }}" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a></p>
            </div>

            <footer class="meta">
                <p>Category: <a href="{{ path('blogger_blog_page_category_blogs', { 'slug': blog.category.slug }) }}">{{ blog.category.name }}</a></p>
                <p>Comments: <a href="{{ path('blogger_blog_blog_show', { 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a></p>
                <p>Posted by <span class="highlight">{{ blog.author }}</span> at {{ blog.created|date('h:iA') }}</p>
                <p>Tags:
                    {% for tag in blog.tagsLink %}
                        <a href="{{ path('blogger_blog_page_tag_search', { 'tag': tag|trim }) }}">{{ tag|trim }}</a>
                    {% endfor %}
                </p>
                <p>Hits: <span class="highlight">{{ blog.hits }}</span></p>
            </footer>
        </article>
	{% else %}
	    <p>There are no blog entries for symblog</p>
	{% endfor %}
	
	{% if totalPageNum > 1 %}
    	<div class="pagination">
    	   <ul>
    	       <li>Total: {{ totalPageNum }}</li>
    	       {% for page in 1..totalPageNum %}
    	           {% if page == currentPage %}
    	               <li>{{ page }}</li>
    	           {% else %}
    	               <li class="active"><a href="{{ path('blogger_blog_page_list', { 'page': page }) }}">{{ page }}</a></li>
    	           {% endif %}
    	       {% endfor %}
    	   </ul>
    	</div>
	{% endif %}
{% endblock %}