<section class="section">
    <header>
        <h3>Admin</h3>
    </header>
    <ul>
        <li><a href="{{ path('blogger_blog_blog_create') }}">Create new post</a></li>
        <li><a href="{{ path('blogger_blog_category_create') }}">Create new category</a></li>
    </ul>
</section>

<section class="section">
    <header>
        <h3>Category</h3>
    </header>
    <ul class="category">
    {% for category in categories %}
        <li>
            <a href="{{ path('blogger_blog_page_category_blogs', { 'slug': category.slug }) }}">
                {{ category.name }}
            </a>
            [{{ category.blogs|length }}]
        </li>
    {% else %}
        <p>There are no categories</p>
    {% endfor %}
    </ul>
</section>

<section class="section">
    <header>
        <h3>Tag Cloud</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
            <span class="weight-{{ weight }}"><a href="{{ path('blogger_blog_page_tag_search', { 'tag': tag }) }}">{{ tag }}</a></span>
        {% else %}
            <p>There are no tags</p>
        {% endfor %}
    </p>
</section>

<section class="section">
    <header>
        <h3>Latest Comments</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight">{{ comment.user }}</span> commented on
                    <a href="{{ path('blogger_blog_blog_show', { 'slug': comment.blog.slug }) }}#comment-{{ comment.id }}">
                        {{ comment.blog.title }}
                    </a>
                    [<em><time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time></em>]
                </p>
            </header>
            <p>{{ comment.comment }}</p>
            </p>
        </article>
    {% else %}
        <p>There are no recent comments</p>
    {% endfor %}
</section>